# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Other common cache directories
.mypy_cache/
.pytest_cache/
.ruff_cache/

# temp tocumentation for autocomplete
AI-helperDocumentation/
