{% include "modal_form_helpers.html" %}

<form
  method="post"
  class="form"
  enctype="multipart/form-data"
  data-package-id="{{ package_id }}"
  data-submit-endpoint="{% if package %}/admin/packages/{{ package_id }}{% else %}/admin/packages/new{% endif %}"
>
  <div class="modal-form-group">
    <label for="package_identifier">Identifier{% if not package %} <span class="required">*</span>{% endif %}</label>
    <input
      id="package_identifier"
      name="package_identifier"
      type="text"
      value="{{ package_id }}"
      {% if package %}readonly{% else %}required{% endif %}
    />
    {% if package %}
    <small>Package identifier cannot be changed after creation.</small>
    {% endif %}
  </div>

  <div class="modal-form-group">
    <label for="package_name">Name <span class="required">*</span></label>
    <input
      id="package_name"
      name="package_name"
      type="text"
      value="{{ package.package_name if package else '' }}"
      required
    />
  </div>

  <div class="modal-form-group">
    <label for="publisher">Publisher <span class="required">*</span></label>
    <input
      id="publisher"
      name="publisher"
      type="text"
      value="{{ package.publisher if package else '' }}"
      required
    />
  </div>

  <div class="modal-form-group">
    <label for="short_description">Short description</label>
    <textarea
      id="short_description"
      name="short_description"
      rows="2"
    >{{ package.short_description if package and package.short_description else '' }}</textarea>
  </div>

  <div class="modal-form-group">
    <label for="license">License</label>
    <input
      id="license"
      name="license"
      type="text"
      value="{{ package.license if package and package.license else '' }}"
    />
  </div>

  <div class="modal-form-group">
    <label for="tags">Tags (comma separated)</label>
    <input
      id="tags"
      name="tags"
      type="text"
      value="{{ package.tags | join(', ') if package and package.tags else '' }}"
    />
    <small>Enter tags separated by commas</small>
  </div>
</form>

